# .gitignore

# ----------------- #
# FILES CONTAINING SECRETS
# ----------------- #
# Environment variables file
.env
# Viper configuration file (contains secrets)
config.yml


# ----------------- #
# OPERATING SYSTEM FILES
# ----------------- #
# macOS
.DS_Store
# Windows
Thumbs.db


# ----------------- #
# COMPILED CODE
# ----------------- #
# Binary file compiled with Go
go-bank-api
main

# ----------------- #
# OTHER
# ----------------- #
# Docker database data
postgres_data/

# ----------------- #
# GENERATED CODE
# ----------------- #
# Swagger documentation files
/docs